*{
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: Tahoma, sans-serif, Serif;
    background: linear-gradient(to bottom, hsla(192,80%,36%,1) 0%,
        hsla(192,80%,36%,1) 2%,
        hsla(186,100%,69%,1) 2%,
        hsla(185,86%,47%,1) 2%,
        hsla(186,85%,48%,1) 2%,
        hsla(186,78%,53%,1) 4%,
        hsla(186,78%,59%,1) 6%,
        hsla(185,78%,86%,1) 12%,
        hsla(185,75%,91%,1) 13%,
        hsla(185,76%,97%,1) 15%,
        hsla(0,0%,100%,1) 17%,
        hsla(185,63%,54%,1) 17%,
        hsla(186,60%,52%,1) 19%,
        hsla(191,79%,40%,1) 29%,
        hsla(192,82%,38%,1) 31%,
        hsla(193,84%,37%,1) 47%,
        hsla(197,86%,34%,1) 87%,
        hsla(198,86%,34%,1) 100%);
}

.wrapper > p {
    padding: 10px 0 12px 0;
    text-align: center;
    font: 12px Tahoma, sans-serif, Serif;
    color: white;
}

.content {
    width: 986px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 15px 0px #000000;
}

header {
    height: 176px;
    width: 986px;
    font: 12px Tahoma, sans-serif, Serif;
    color: #128aa7;
}

.logo {
    position: relative;
    margin: 9px 0 0 28px;
    float: left;
}

.logo p {
    position: absolute;
    top: 85px;
    left: 70px;
    z-index: 1;
}

.logo a {
    display: block;
    background-image: url("../img/logo.png");
    width: 285px;
    height: 165px;
    text-decoration: none;
    color: #128aa7;
}

.contacts {
    float: right;
    padding-right: 30px;
}

.contacts ul {
    margin: 0;
}

.contacts h4 {
    padding: 0;
    margin: 20px 0 5px 0;
    display: block;
}

.contacts li {
    line-height: 15px;
    list-style: none;
}


.countries_flags {
    float: right;
    margin: 20px 18px 10px 0;
    font: 10px Tahoma, sans-serif, Serif;
    clear: right;
}

.countries_flags li {
    float: left;
    list-style: none;
    margin-right: 5px;
    text-align: center;
    display: block;
    width: 52px;
    height: 54px;
    line-height: 17px;
}

.countries_flags img {
    display: block;
    padding-left: 5px;
}

.countries_flags a {
    color: #128aa7;
}

.photo {
    height: 225px;
    border-bottom: solid 1px #97c9e9;
    border-top: solid 1px #97c9e9;
}

nav {
    position: relative;
    width: 986px;
    background-color: #333333;
    box-shadow: 0 2px 6px 0 #000000;
}

nav a {
    font: 14px Tahoma, sans-serif, Serif;
    text-decoration: none;
    color: white;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > li {
    float: left;
    position: relative;
    display: block;
    width: 140px;
    text-align: center;
}

.menu > li > a {
    display: block;
    width: auto;
    height: 25px;
    padding-top: 5px;
}

.kn {
    font-size: 9px;
    margin-left:3px;
}

.submenu {
    position: absolute;
    display: none;
    top: 28px;
    width: 150px;
    height: 140px;
    background-color: #333333 ;
    box-shadow: 0 0 8px 0 #000000;
}

.submenu > li {
    display: block;
    margin: 5px 0 0 10px;
    text-align: left;
}

.menu > li:hover >.submenu {
    display: block;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.main_content_left p,
.main_content_right p {
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}

.main_content_left h3,
.main_content_right h3{
    margin: 0;
    padding: 10px 0 8px 0;
    text-align: center;
}

.main_content_left {
    width: 20%;
    border-right: solid 1px #c7cacf;
    background-color: #edeef0;
}


.main_content_right {
    width: 20%;
    border-left: solid 1px #c7cacf;
    background-color: #edeef0;
}

.clearfix:after {
    content     : ".";
    visibility  : hidden;
    display     : block;
    height      : 0;
    clear       : both;
}


