* {
	margin: 0;
	padding: 0;
}

body {
    background-color:#f9f9f9;
    font-family: 'Open Sans', Serif, sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 50px 40px 60px 40px;
    width: 970px;
    background-color: white;
    box-shadow: 0 0 10px silver;
}

.img_logo {
    display: block;
    margin-bottom: 20px;
}

.img_logo a {
	width: 140px;
	height: 85px;
}

nav {
    height: 40px;
    background: #505050;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    letter-spacing: normal;
    text-shadow: 0 0 1px grey;
}

nav a {
	display: block;
    padding: 12px;
    font: 14px 'Open Sans', Serif, sans-serif;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: #353535;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

aside {
    margin: 40px 0 0 0;
    float: left;
}

aside ul {
    list-style: none;
    border: 1px solid #c8c8c8;
}

aside li {
    height: 40px;
    width: 240px;
    border-bottom: 1px solid #c8c8c8;
}

aside li:last-child {
    border-bottom: none;
}

aside a {
	display: block;
    padding: 10px;
    font: 15px 'Open Sans', Serif, sans-serif;
    text-decoration: none;
    color: #787878;  
}

aside a:hover {
	padding-left: 35px;
    background-color: #f9f9f9;
    color: black;
}

.main_content {
    width: 680px;
    height: 580px;
    margin: 40px 0px 0px 290px;
}

.main_content img {
    padding: 65px 0 0 100px;
}

.image {
    height: 400px;
    border: 1px solid #c8c8c8;
}

.main_content p {
    font: 15px 'Open Sans', Serif, sans-serif;
    padding: 40px 0 0 30px;
    color: #484848;
}

footer {
    width: 970px;
    height: 40px;
    margin-top: 50px;
    background-color: #e1e1e1;
    color: #2c2c2c;
    font: 15px 'Open Sans', Serif, sans-serif;
}

footer ul {
    float: left;
    list-style: none;
}

footer li {
    float: left;
    padding: 10px 25px 0 20px;
    letter-spacing:normal;
    width: 100px;
    height: 30px;
    font: 15px 'Open Sans', Serif, sans-serif;
}

footer a {
    text-decoration: none;
    color: #2c2c2c;
}

footer a:hover {
    text-decoration: underline;
}

.footer_since {
    float: right;
    padding: 10px 25px 0 0;
    width: auto;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

